<div class="container" style="position: absolute;top: 50%;left: 30%;">
    <form action="/music/createcategory" method="POST">
        <input type="text" name="category_name" id="">
        <input type="text" name="description" id="">
        <input type="submit" value="Next">
    </form>
</div>