<form action="/music/uploadSongAdmin/<%= id%>" method="post" enctype="multipart/form-data" style="position: absolute;top: 50%;">
    <% console.log('id:',id)%>
    
    <input type="file" name="adminsong" id="">
    <input type="submit" value="Upload here...">
</form>