<body id="upload_body">
<div class="container1" >
    <div class="logoandhead pt-3">
        <img src="/images/logo.png" class="logo-form" alt="logo">
        <h1 id="text">Upload</h1>
    </div>
    <form action="/music/uploadSongInfoAdmin" method="post">
        <select name="category_name" class="inp"  style="width: 15vw; margin-top: 2vh;color: white; ">
            <option value="Categories">Categories</option>
            <option value="India Top 50">India Top 50</option>
            <option value="Global Top 50">Global Top 50</option>
            <option value="Top Hits - Tamil">Top Hits - Tamil</option>
            <option value="Top Hits - Telugu">Top Hits - Telugu</option>
            <option value="Top Hits Punjabi">Top Hits Punjabi</option>
            <option value="TED Talks Daily">TED Talks Daily</option>
            <option value="On Purpose with Jay Shetty">On Purpose with Jay Shetty</option>
            <option value="7 Good Minutes Daily Self-Improvement Podcast with Clyde Lee Dennis">7 Good Minutes Daily Self-Improvement Podcast with Clyde Lee Dennis</option>
            <option value="Sadhguru">Sadhguru</option>
            <option value="The ALUX.COM Podcast">The ALUX.COM Podcast</option>
            <option value="Workout">Workout</option>
            <option value="All Out 10s">All Out 10s</option>
        </select><br>
        <h3 style="color: white; margin-left: -10vw; margin-top: -2vh;font-family: serif;">Song Name:</h3>
        <input type="text" name="admin_music_name" class="inp" required>
        <h3 style="color: white; margin-left: -9vw; margin-top: 2vh;font-family: serif;">Singer Name:</h3>
        <input type="text" name="singername" class="inp" required>
        <input type="submit" class="button-form-2" value="Next">
    </form>
</div>