<body id="upload_body">
<div class="container1" >
    <div class="logoandhead pt-3">
        <img src="/images/logo.png" class="logo-form" alt="logo">
        <h1 id="text">Upload</h1>
    </div>
    <form action="/music/uploadSongInfoAdmin" method="post">
        <select name="category_name" class="inp"  style="width: 15vw; margin-top: 2vh;color: white; ">
            <option value="Categories">Categories</option>
            <option value="India Top 50">India Top 50</option>
            <option value="Global Top 50">Global Top 50</option>
            <option value="Top Hits - Tamil">Top Hits - Tamil</option>
            <option value="Top Hits - Telugu">Top Hits - Telugu</option>
            <option value="Top Hits Punjabi">Top Hits Punjabi</option>
            <option value="TED Talks Daily">TED Talks Daily</option>
            <option value="On Purpose with Jay Shetty">On Purpose with Jay Shetty</option>
            <option value="7 Good Minutes Daily Self-Improvement Podcast with Clyde Lee Dennis">7 Good Minutes Daily Self-Improvement Podcast with Clyde Lee Dennis</option>
            <option value="Sadhguru">Sadhguru</option>
            <option value="The ALUX.COM Podcast">The ALUX.COM Podcast</option>
            <option value="Workout">Workout</option>
            <option value="All Out 10s">All Out 10s</option>
            <option value="Ur So F**KInG COol">Ur So F**KInG COol</option>
            <option value="IDK You Yet">IDK You Yet</option>
            <option value="I Met You When I..">I Met You When I..</option>
            <option value="Party Girl">Party Girl</option>
            <option value="BLAME IT ON BABY">BLAME IT ON BABY</option>
            <option value="Brain Food">Brain Food</option>
            <option value="Lo-Fi Beats">Lo-Fi Beats</option>
            <option value="Nature Sounds">Nature Sounds</option>
            <option value="Deep Focus">Deep Focus</option>
            <option value="Peaceful Piano">Peaceful Piano</option>
            <option value="The Sound Of Mumbai">The Sound Of Mumbai</option>
            <option value="The Sound Of Kolkata">The Sound Of Kolkata</option>
            <option value="The Sound Of Delhi">The Sound Of Delhi</option>
            <option value="The Sound Of Bengaluru">The Sound Of Bengaluru</option>
            <option value="The Sound Of Chennai">The Sound Of Chennai</option>
            <option value="New Music Friday">New Music Friday</option>
            <option value="Together">Together</option>
            <option value="TKN(Feat. Travis Scott)">TKN(Feat. Travis Scott)</option>
            <option value="Golden Hour">Golden Hour</option>
            <option value="Dark">Dark</option>
            <option value="IPOP">IPOP</option>
            <option value="Top Hits Marathi">Top Hits Marathi</option>
            <option value="Dil Se Thankyou">Dil Se Thankyou</option>
            <option value="Kollywood Cream">Kollywood Cream</option>
            <option value="Tollywood Pearls">Tollywood Pearls</option>
            <option value="Neha Kakkar">Neha Kakkar</option>
            <option value="Badshah">Badshah</option>
            <option value="Eminem">Eminem</option>
            <option value="BTS">BTS</option>
            <option value="One Direction">One Direction</option>
        </select><br>
        <h3 style="color: white; margin-left: -10vw; margin-top: -2vh;font-family: serif;">Song Name:</h3>
        <input type="text" name="admin_music_name" class="inp" required>
        <h3 style="color: white; margin-left: -9vw; margin-top: 2vh;font-family: serif;">Singer Name:</h3>
        <input type="text" name="singername" class="inp" required>
        <input type="submit" class="button-form-2" value="Next">
    </form>
</div>