<body id="upload_body">
<div class="container1">
    <div class="logoandhead pt-3">
        <img src="/images/logo.png" class="logo-form" alt="logo">
        <h1 id="text">Upload</h1>
    </div>
<form action="/music/uploadSongAdmin/<%= id%>" method="post" enctype="multipart/form-data">
    <% console.log('id:',id)%>
    <label for="file-upload">
        <input type="file" name="adminsong" id="file-upload" style="display:none;"/>
        <img src="/images/plus.png" class="plus-form" alt="plus" />
        <div id="file-upload-filename"></div>
     </label><br>
    <input type="submit" class="button-form" value="Upload...">
</form>
</div>
</body>