
<!-- navbar -->

<!-- sidebar -->
<div id="sidebar">
    <div class="mt-n3 mb-2">
        <img src="/images/logo.png">
        <p style="color: white;display: inline;font-size: 1.5rem;margin-left: 0.8rem;">Musify</p>
      </div>
    <div class="toggle-btn" onclick="toggleSidebar()"><a>
     <span></span>
     <span></span>
     <span></span>
    </a>
    </div>
    <ul>
      <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
      <li><a href="#"><i class="fas fa-search"></i>Search</a></li>
      <li><a href="#"><i class="fas fa-music"></i>Library</a></li>
      <li><a href="#">Playlists</a></li>
      <li><a href="#"><i class="fas fa-list-ul"></i>Create Playlist</a></li>
      <li><a href="#"><i class="fas fa-heart"></i>Liked songs</a></li>
    </ul>
  
   </div>

<div class="container p-5" id="main_div">
    
    <section id="Charts" class="ml-n3">
        <h4 class="section_head">Charts</h4>
        <a href="" type="button" class="see_all_button">SEE ALL</a>
        <div class="row row-cols-1 row-cols-md-5">
            <div class="col mb-2">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card4 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 5-->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section2 -->
    <section id="Podcast" class="ml-n3">
        <h4 class="section_head">Podcasts to try</h4>
        <p id="podcast_para">Podcasts we think you’ll get hooked on.</p>
        <a href="" type="button" class="see_all_button">SEE ALL</a>
        <div class="row row-cols-1 row-cols-md-5">
            <div class="col mb-2">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card4 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 5-->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section3 -->

    <section id="Popular_Playlist" class="ml-n3">
        <h4 class="section_head">Popular Playlist</h4>
        <a href="" type="button" class="see_all_button">SEE ALL</a>
        <div class="row row-cols-1 row-cols-md-5">
            <div class="col mb-2">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card4 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 5-->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 4 -->

    <section id="Mood" class="ml-n3">
        <h4 class="section_head">Mood</h4>
        <p class="mood_para">Playlists to match your mood.</p>
        <a href="" type="button" class="see_all_button">SEE ALL</a>
        <div class="row row-cols-1 row-cols-md-5">
            <div class="col mb-2">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card4 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 5-->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 5 -->

    <section id="Sleep" class="ml-n3">
        <h4 class="section_head">Sleep</h4>
        <a href="" type="button" class="see_all_button">SEE ALL</a>
        <div class="row row-cols-1 row-cols-md-5">
            <div class="col mb-2">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card4 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- Section 6 -->

        <section id="Popular_albums" class="ml-n3">
            <h4 class="section_head">Popular albums</h4>
            <a href="" type="button" class="see_all_button">SEE ALL</a>
            <div class="row row-cols-1 row-cols-md-5">
                <div class="col mb-2">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 2 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 3 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card4 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 5-->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            <!-- Section 7 -->

    <section id="Trending_now" class="ml-n3">
        <h4 class="section_head">Trending now</h4>
        <a href="" type="button" class="see_all_button">SEE ALL</a>
        <div class="row row-cols-1 row-cols-md-5">
            <div class="col mb-2">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card4 -->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>

            <!-- Card 5-->
            <div class="col">
                <div class="card card_color">
                    <div class="view overlay p-3">
                        <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                        <a href="#"></a>
                    </div>
                    <button id="btn_chart" class="play_button"></button>
                    <div id="triangle"></div>
                    <div class="card-body">
                        <h4 class="card-title card-head">Top Hits</h4>
                        <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- Section 8 -->

        <section id="Focus" class="ml-n3">
            <h4 class="section_head">Focus</h4>
            <p class="focus_para">Music to help you concentrate.</p>
            <a href="" type="button" class="see_all_button">SEE ALL</a>
            <div class="row row-cols-1 row-cols-md-5">
                <div class="col mb-2">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 2 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 3 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card4 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 5-->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section 9 -->

        <section id="Sound_of_india" class="ml-n3">
            <h4 class="section_head">Sound of India</h4>
            <a href="" type="button" class="see_all_button">SEE ALL</a>
            <div class="row row-cols-1 row-cols-md-5">
                <div class="col mb-2">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 2 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 3 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card4 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 5-->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section 10 -->

        <section id="new_releases" class="ml-n3">
            <h4 class="section_head">Popular new releases</h4>
            <a href="" type="button" class="see_all_button">SEE ALL</a>
            <div class="row row-cols-1 row-cols-md-5">
                <div class="col mb-2">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 2 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 3 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card4 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 5-->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section 11 -->

        <section id="Editor_picks" class="ml-n3">
            <h4 class="section_head">Editor's picks</h4>
            <a href="" type="button" class="see_all_button">SEE ALL</a>
            <div class="row row-cols-1 row-cols-md-5">
                <div class="col mb-2">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 2 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section 12 -->

        <section id="soundtrack_home" class="ml-n3">
            <h4 class="section_head">Soundtrack your home</h4>
            <p class="focus_para">Music to help you concentrate.</p>
            <a href="" type="button" class="see_all_button">SEE ALL</a>
            <div class="row row-cols-1 row-cols-md-5">
                <div class="col mb-2">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 2 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 3 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
          </div>
        </section>

        <!-- Section 13 -->

        <section id="artists" class="ml-n3">
            <h4 class="section_head">Popular artists</h4>
            <a href="" type="button" class="see_all_button">SEE ALL</a>
            <div class="row row-cols-1 row-cols-md-5">
                <div class="col mb-2">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 2 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 3 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card4 -->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 5-->
                <div class="col">
                    <div class="card card_color">
                        <div class="view overlay p-3">
                            <img class="card-img-top card-image" src="/images/arijit_singh.jpg" alt="Arijit Singh">
                            <a href="#"></a>
                        </div>
                        <button id="btn_chart" class="play_button"></button>
                        <div id="triangle"></div>
                        <div class="card-body">
                            <h4 class="card-title card-head">Top Hits</h4>
                            <p class="card-text card-para">Tune in to the top tracks from Arijit Singh</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       
</div>

<div id="music_bar">
    <a href="#"> . </a>
    <div class="section6">
   <div class="background_color">
   <div class="music_player_img">
   <p class="white_text">No Limit</p>
   <p class="grey_text">G-EAZY</p>

   <div class="music_payer_heart">
   <i class="far fa-heart"></i>
 </div>
 <div class="ban_symbol">
 <i class="fas fa-ban"></i>
</div>
<div class="shuffle">
<i class="fas fa-random"></i>
</div>
<div class="step_backward">
<i class="fas fa-step-backward"></i>
</div>
<div class="pause1">
<i class="far fa-pause-circle" ></i>
</div>
<div class="step_forward">
<i class="fas fa-step-forward"></i>
</div>
<div class="repeat">
<i class="fas fa-redo"></i>
</div>
<span class="time">02:10</span>
<div class="running_bar_green">
</div>
<div class="running_bar_white">

</div>
<div class="small_circle">
<i class="fas fa-circle"></i>
</div>
<span class="time_rigth">05:20</span>
<div class="stack">
<i class="fas fa-server"></i>
</div>
<div class="computer">
<i class="fas fa-desktop"></i>
</div>
<div class="volume">
<i class="fas fa-volume-up"></i>
</div>
<div class="running_bar_green1">
</div>
<div class="running_bar_white1">
</div>
<div class="small_circle1">
<i class="fas fa-circle"></i>
</div>
<div class="full_screen">
<i class="fas fa-expand"></i>
</div>
</div>
</div>
</div>
</div>