<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>MUSIFY | LANDING</title>
	<link rel="stylesheet" href="/css/landing-page.css">
</head>
<body id="landing_page">
	<div class="intro">
        <h1>MUSIFY</h1>
        <video src="/images/Introducing AirPods Pro — Apple_Trim.mp4"></video>
    </div>
    <section>
      <img src="/images/woman-in-white-and-brown-floral-dress-4380970 1.png" class="landing-girl" class="landing-girl">
    <div id="light"></div>
    <h1 class="text1">Live for the </h1>
    <h1 class="text2">Music</h1>
	<img src="/images/logo.png" class="logo-perk">
	<h1 class="perk-text">Perks of joining
	<span class="accent-text1">Musify</span>
	</h1>
	<div id="highlight-text1">
		<p class="inner-text1">Huge collection of songs</p>
		<p class="inner-text2">Various song to choose according to your mood</p>
	</div>
	<div id="highlight-text2">
		<p class="inner-text3">Podcasts</p>
		<p class="inner-text2">Listen to the live & recorded sessions by great singers</p>
	</div>
	<div id="highlight-text3">
		<p class="inner-text4">weekly charts</p>
		<p class="inner-text2">Listen to all great music summed up in a weekly playlist</p>
	</div>
    </section>
    <h1 class="ending-text">Join the
    	<span class="accent-text2">Fun.</span>
    </h1>
    <button type="button" class="button-end">Discover Musify</button>
	<script
      src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"
      integrity="sha256-2p2tRZlPowp3P/04Pw2rqVCSbhyV/IB7ZEVUglrDS/c="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"
      integrity="sha256-peenofh8a9TIqKdPKIeQE7mJvuwh+J0To7nslvpj1jI="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.js"
      integrity="sha256-31FC/OT6XpfjAhj9FuXjw5/wPXXawCAjJQ29E23/XPk="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
      integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U="
      crossorigin="anonymous"
    ></script>
    <script src="/js/app.js"></script>
</body>
</html>