.join-main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  
  .join-text {
    font-size: 2.0em;
    font-weight: bold;
    margin: 0;
  }
  
  .accent-text {
    color: #BC3A80;
    font-size: 3.5em;
  }
  
  .join-form {
    background-color: #202027;
    width: 50vw;
    max-width: 50%;
    padding: 2rem 4rem;
    border-radius: 20px;
  }
  
  .input-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .input-group:last-child {
    margin-bottom: 0;
  }
  
  .input-group label {
    font-weight: bold;
    margin-bottom: .5rem;
  }
  
  .input-group input {
    outline: none;
    background: none;
    border: 1px solid #2E3852;
    font-size: 1em;
    padding: .5em;
    color: inherit;
    border-radius: 5px;
  }
  
  .input-group input:focus {
    border-color: #596da0;
  }
  
  @media (max-width: 900px) {
    .join-main-section {
      flex-direction: column;
      justify-content: center;
    }
  
    .join-form {
      width: 80vw;
      max-width: inherit;
      margin: 2rem 0;
    }
  }
  
  .join-page-circle-1 {
    position: absolute;
    overflow: hidden;
    width: 35vw;
    height: 35vw;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .join-page-circle-1::before {
    content: '';
    transform: translateX(-20%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(188, 58, 128, .1);
  }
  
  .join-page-circle-2 {
    position: absolute;
    overflow: hidden;
    width: 30vw;
    height: 30vw;
    top: 0;
    left: 20vw;
    z-index: -1;
  }
  
  .join-page-circle-2::before {
    content: '';
    transform: translateY(-30%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(52, 87, 178, .1);
  }

  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #2F303A;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.brand-logo-name {
  margin-left: 1rem;
}

.main-nav ul, .footer-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a, .footer-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.main-nav a:hover, .footer-nav a:hover  {
  color: #adadad;
}

.main-header, .main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  height: 140px;
}

.main-footer {
  height: 70px;
  background-color: #202027;
  font-weight: bold;
}

.social-link img {
  width: 1em;
  margin-right: .25rem;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.title {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.btn {
  color: white;
  background-color: #1762A7;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #2180d8;
}

.btn:focus {
  background-color: #2796ff;
}